.header {
  background-color: $primary-bcg-color;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
}
.nav {
  display: none;
}
.contacts {
  &__link {
    font-size: 10px;
    line-height: 15px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }

  &__icon {
    fill: $bcg-color;
    width: 14px;
    height: 14px;
    margin-right: 2px;
  }
}
.btn__menu {
  border: none;
  background-color: $primary-bcg-color;
}
.menu__icon {
  fill: #7b6152;
  width: 30px;
  height: 25px;
}
