body {
  color: $primary-text-color;
  background-color: $primary-bcg-color;
  font-family: Comfortaa, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 340px;
  margin: 0 auto;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: inherit;
}
.btn {
  font-size: 11px;
  font-weight: 600;
  color: #272727;
  background-color: $acent-color;
  padding: 11px 23px;
  border: none;
}
h2 {
  font-family: Yeseva One;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}
.text {
  font-size: 8px;
}
