$acent-color: #ffbd59;
$bcg-color: #bea495;
$primary-text-color: #000000;
$brown-color: #7b6152;
$white-color: #fafafa;
$bcg-color: #a5978e;
$shadow: #222;
$primary-bcg-color: #fff8f3;
$desctop-1200: 1200px;
$tablet-1000: 960px;
$tablet-768: 640px;
$mobile-480: 460px;
$mobile-360: 340px;
